<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="forgot-password-popup" style="display: none">
      <form onsubmit="forgotpassword(event)">
        <h3>Forgot Password</h3>
        <p>Enter your email address:</p>
        <input type="email" id="emailID" />
        <button id="submit-email">Submit</button>
      </form>
    </div>
    <div class="container" id="container">
      <div class="form-container sign-up-container" id="signUpContainer">
        <form onsubmit="signUp(event)" class="signUpForm">
          <h1>Create An Account</h1>
          <div class="social-container">
            <a href="#">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-google"></i>
              <i class="fab fa-github"></i>
            </a>
          </div>
          <span>Use your email for registration</span>
          <input
            type="text"
            placeholder="Name"
            id="signUpName"
            name="userName"
            required
          />
          <input
            type="email"
            placeholder="Email"
            id="signUpEmail"
            name="userEmail"
            required
          />
          <input
            type="password"
            placeholder="Password"
            name="userPassword"
            id="signUpPass"
            required
          />
          <button id="signUpForm">Sign Up</button>
          <br />
        </form>
      </div>
      <div class="form-container sign-in-container" id="signInContainer">
        <form onsubmit="signIn(event)" class="signInForm">
          <h1>Sign In</h1>
          <div class="social-container">
            <a href="#">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-google"></i>
              <i class="fab fa-github"></i>
            </a>
          </div>
          <span>Login to your account</span>
          <input
            type="email"
            placeholder="Email"
            id="emailInput"
            name="email"
          />
          <input
            type="password"
            placeholder="password"
            id="passwordInput"
            name="password"
            required
          />
          <a href="#" id="forgot-password">Forgot your password</a>
          <button id="signInForm">Sign In</button>
        </form>
      </div>
      <div class="overlay-container" id="overlayContainer">
        <div class="overlay" id="overlayId">
          <div class="overlay-panel overlay-left" id="overlaySignIn">
            <h1>Have Already Account</h1>
            <p>To Keep Connect With Us Please Login With Your Account Here!</p>
            <button class="ghost" id="signIn" onclick="signInButton()">
              Sign In
            </button>
          </div>

          <div class="overlay-panel overlay-right" id="overlaySignUp">
            <h1>Create Your Account</h1>
            <p>Enter Your Personal Detail And Start Journey With Us</p>
            <button class="ghost" id="signUp" onclick="signUpButton()">
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/signUp.js"></script>
    <script src="/forgotPassword.js"></script>
    <script src="/signIn.js"></script>
  </body>
</html>
